@page "/welcome"
<PageTitle>Welcome DOCTYPE nav-item 2</PageTitle>
<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero mollitia, rerum voluptates sint nisi dolores deserunt laudantium nemo. Eos qui recusandae aut libero delectus saepe ab atque. Expedita, alias dignissimos?</h1>